## Loading data with file
## import lib

In [ ]:
import pandas as pd
    
 
file = "../data_sources/raw_data/all_products.xlsx"    
df = pd.read_excel(file)

      category                                               name       price
0     sneakers                         Кросівки Pacer 23 Sneakers  3 690,00 ₴
1     sneakers                  Кросівки Inverse Upgrade Sneakers  6 390,00 ₴
2     sneakers                 Кросівки Trinity 2 Sneakers Unisex  4 490,00 ₴
3     sneakers                 Кросівки Trinity 2 Sneakers Unisex  4 490,00 ₴
4     sneakers                 Кросівки Trinity 2 Sneakers Unisex  4 490,00 ₴
...        ...                                                ...         ...
1723     boots                         Черевики Desierto v3 Boots  2 390,00 ₴
1724     boots                       Черевики Desierto v2 PureTEX  1 999,00 ₴
1725     boots  Черевики Scuderia Ferrari Trinity Mid WTR Snea...  2 490,00 ₴
1726     boots  Кросівки Explore NITRO Mid GORE-TEX Men's Hiki...  3 740,00 ₴
1727     boots               Кросівки ST Runner V3 Mid L Sneakers  1 740,00 ₴

[1728 rows x 3 columns]